image:
  - Visual Studio 2022

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  IGNORE_NORMALISATION_GIT_HEAD_MOVE: 1

init:
  - net start MSSQL$SQL2019

build_script:
  - build.cmd

before_build:
  - dotnet restore

test_script:
  - test.cmd

# replace the db connection with the local instance :
before_test:
- ps: >-
    $config = join-path (Resolve-Path .\).Path '.\src\DelegateDecompiler.EntityFramework.Tests\App.config';
    $doc = (gc $config) -as [xml]; 
    $doc.SelectSingleNode('//connectionStrings/add[@name="DelegateDecompilerEfTestDb"]').connectionString = "Server=(local)\\SQL2019;Database=DelegateDecompilerEfTestDb;MultipleActiveResultSets=True;User ID=sa;Password=Password12!;Trusted_connection=True"; 
    $doc.Save($config);

artifacts:
- path: '**/*.nupkg'
- path: '**/*.snupkg'

deploy:
- provider: NuGet
  on:
    APPVEYOR_REPO_TAG: true
  api_key:
    secure: jvtF15G6C62Mw4rutAgf401eKAzsI8zFC7CZwFfFcteWTRBeu8gbG1HRr5t62ly9
