image:
  - Visual Studio 2022

skip_branch_with_pr: true

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  IGNORE_NORMALISATION_GIT_HEAD_MOVE: 1

init:
  - net start MSSQL$SQL2019

build_script:
  - build.cmd

before_build:
  - dotnet restore

test_script:
  - test.cmd

artifacts:
- path: '**/*.nupkg'
- path: '**/*.snupkg'

deploy:
- provider: NuGet
  on:
    APPVEYOR_REPO_TAG: true
  api_key:
    secure: 5FZW9z7tXGnTdpNTGDdaN978jpCyyTRfeturAxhwrTcO7OsE/sas7hbsOBZlPZg/
