name: Create Release

on:
  workflow_dispatch:

jobs:
  create-tag:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GH_TOKEN }}

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4

    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v4

    - name: Create Release
      run: gh release create ${{ steps.gitversion.outputs.majorMinorPatch }} --generate-notes --target $GITHUB_SHA
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}